.day{
    width: 100%;
height: 100%;
background-image: url("../../assets/dia.jpg");
background-size: cover;
background-position: bottom;
transition: 0.4 ease-out;
color: azure;
    text-align: center;
  }
  
  .nigth{
    width: 100%;
    height: 100%;
    background-image: url("../../assets/noche.jpg");
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
    color: azure;
        text-align: center;
  }


  .title{
    position: relative;
    font-size:12vh;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
  }




  @media screen and (max-width: 860px){
    .title{
      position: relative;
      font-size:7vh;
      color: #000000;
      text-transform: uppercase;
    }
  } 